// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
}
// Спойлер
.spollers__item {
	border-bottom: 1px solid #000;
	@media (max-width: toEm($mobile)) {
		border-bottom: 1px solid #8f8f90;
	}
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	font-size: 22px;
	cursor: default;
	text-align: left;
	line-height: 1.1;
	list-style: none;
	border-radius: 5px;
	position: relative;
	padding-block: 24px;
	padding-right: 40px;
	font-family: $fontSemiBold;
	&::marker,
	&::-webkit-details-marker {
		display: none;
	}
	.--spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 50%;
			background-color: #000;
			height: 1px;
			width: 22px;
			transition:
				rotate 0.5s,
				opacity 0.5s;
		}
		&::before {
			rotate: 90deg;
		}
		&.--spoller-active {
			&::before {
				opacity: 0;
				rotate: 0deg;
			}
		}
	}
	@media (max-width: toEm($mobile)) {
		font-size: 18px;
		padding-block: 16px;
	}
}
// Контент спойлера
.spollers__body {
	opacity: 0.7;
	font-size: 16px;
	line-height: 1.3;
	padding-bottom: 24px;
	p {
		span {
			font-family: $fontSemiBold;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	@media (max-width: toEm($mobile)) {
		padding-bottom: 16px;
		p {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
}
// Wrapper Spoller
.inner-spollers {
	// .inner-spollers__title
	&__title {
		@media (min-width: toEm($mobile)) {
			display: none;
		}
		list-style: none;
		position: relative;
		padding-right: 40px;
		font-family: $fontSemiBold;
		.--spoller-init & {
			cursor: pointer;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 10px;
				top: 50%;
				background-color: #000;
				height: 1px;
				width: 22px;
				transition:
					rotate 0.5s,
					opacity 0.5s;
			}
			&::before {
				rotate: 90deg;
			}
			&.--spoller-active {
				&::before {
					opacity: 0;
					rotate: 0deg;
				}
			}
		}
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
		@media (max-width: toEm($mobile)) {
			@include adaptiveValue("font-size", 42, 26, 0, 767.98, 320);
		}
	}
	// .inner-spollers__body
	&__body {
		@media (max-width: toEm($mobile)) {
			padding-top: 16px;
		}
	}
}

// .--spoller-init & {
// 	position: relative;
// 	width: 100%;
// 	text-align: left;
// 	&::before,
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		right: 0;
// 		top: toRem(12);
// 		height: toRem(1);
// 		transition: all 0.3s ease 0s;
// 		width: toRem(10);
// 		background-color: #000;
// 	}
// 	&::before {
// 		transform: rotate(40deg);
// 		right: toRem(7);
// 	}
// 	&::after {
// 		transform: rotate(-40deg);
// 	}
// }
// &.--spoller-active {
// 	&::before {
// 		transform: rotate(-40deg);
// 	}
// 	&::after {
// 		transform: rotate(40deg);
// 	}
// }
