<div data-fls-tabs class="tabs">
	<nav data-fls-tabs-titles class="tabs__navigation">
		<button type="button" class="tabs__title --tab-active">Tab №1</button>
		<button type="button" class="tabs__title">Tab №2</button>
		<button type="button" class="tabs__title">Tab №3</button>
	</nav>
	<div data-fls-tabs-body class="tabs__content">
		<div class="tabs__body">
			Content of the first tab
		</div>
		<div class="tabs__body">
			Content of the second tab
		</div>
		<div class="tabs__body">
			Content of the third tab
		</div>
	</div>
</div>