// (I) connecting settings, mixins, and extensions (The includes/index file.scss) occurs automatically to all SCSS files in the project
@forward "@styles/settings.scss";
@forward "spritemap.scss";
@forward "mixins";
@forward "extends";
