// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

$fontFamily: "FKTGnarly_Rg"; // Шрифт за замовчуванням
$fontLite: "FKTGnarly_Lt"; // Шрифт за замовчуванням
$fontBold: "FKTGnarly_Bd"; // Шрифт за замовчуванням
$fontItalik: "FKTGnarly_It"; // Шрифт за замовчуванням
$fontSemiBold: "FKTGnarly_SBd"; // Шрифт за замовчуванням

$fontInter: "Inter", sans-serif; // Шрифт за замовчуванням
$fontPoppins: "Poppins", sans-serif; // Шрифт за замовчуванням
$fontSize: 16; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$mainColor: #040000; // Колір шрифту за замовчуванням
$blueColor: #0926c6; // Колір шрифту за замовчуванням
$orangeColor: #d77200; // Колір шрифту за замовчуванням

$ease: cubic-bezier(0.4, 0, 0.2, 1);

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1420;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 10;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
