// Setting up default styles
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

$fontFamily: "FKTGnarly_Rg";
$fontLite: "FKTGnarly_Lt";
$fontBold: "FKTGnarly_Bd";
$fontItalik: "FKTGnarly_It";
$fontSemiBold: "FKTGnarly_SBd";

$fontInter: "Inter", sans-serif; // Default font
$fontPoppins: "Poppins", sans-serif;
$fontSize: 16; // Default font size (where 16 is the default font size from the layout)

// Primary colors
$mainColor: #040000;
$blueColor: #0926c6;
$orangeColor: #d77200;

$ease: cubic-bezier(0.4, 0, 0.2, 1);

// Adaptive grid settings

// Minimum page width
$minWidth: 320;
// Width of the canvas (layout)
$maxWidth: 1440;
// Container bounding width (0 = No Limit)
$maxWidthContainer: 1420;
// General indentation of the container
// (30 = 15px left and right, 0 = No indentation)
$containerPadding: 10;

// First breakpoint response width
$containerWidth: $maxWidthContainer + $containerPadding;

// Break points
$pc: $containerWidth; // PCs, laptops, and some tablets in a horizontal position
$tablet: 991.98; // Tablets, some phones in a horizontal position
$mobile: 767.98; // Phone L
$mobileSmall: 479.98; // Phone S

// Adaptive type:
// 1 = responsiveness (the container has no breakpoints),
// 2 = by break point (the container changes its width by break point)
$responsiveType: 1;
