// @use "includes/variables.css";

// Body
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;
	background-color: #f5f5ff;

	// Scroll blocked
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Site loaded
	[data-fls-loaded] & {
	}
}

// Wrapper
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	// Press footer
	> main {
		flex: 1 1 auto;
	}
	// Fix for sliders
	> * {
		min-width: 0;
	}
}

// Container
@if ($responsiveType==1) {
	// Чуйна
	[class*='__container'] {
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				// padding-left: #{math.div($containerPadding, 2)}px;
				// padding-right: #{math.div($containerPadding, 2)}px;
				@include adaptiveValue('padding-left', 35, 10);
				@include adaptiveValue('padding-right', 35, 10);
			} @else {
				@include adaptiveValue(
					'padding-left',
					math.div($containerPadding, 2),
					15
				);
				@include adaptiveValue(
					'padding-right',
					math.div($containerPadding, 2),
					15
				);
			}
		}
	}
} @else {
	// Break points
	[class*='__container'] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: #{$maxWidthContainer}px;
		} @else {
			@if ($containerPadding>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
		@media (max-width: toEm($pc)) {
			max-width: 970px;
		}
		@media (max-width: toEm($tablet)) {
			max-width: 750px;
		}
		@media (max-width: toEm($mobile)) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
	}
}

[class*='__container-min'] {
	max-width: 1200px;
}

// Common styles for the entire site
[class*='--title'] {
	line-height: 1;
	text-wrap: balance;
	font-family: $fontSemiBold;
	@include adaptiveValue('font-size', 128, 48);
}

[class*='--note'] {
	display: grid;
	line-height: 1.2;
	@include adaptiveValue('gap', 16, 8);
	h3 {
		font-family: $fontSemiBold;
		@include adaptiveValue('font-size', 30, 16);
	}
	p {
		max-width: 1000px;
		text-wrap: balance;
		font-family: $fontLite;
		@include adaptiveValue('font-size', 18, 14);
	}
}

[class*='lazyload'] {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease 0.5s, visibility 0.3s ease 0.5s;
	&.--watcher-view {
		opacity: 1;
		visibility: visible;
	}
}
