//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn
.button {
	color: #fff;
	line-height: 1.1;
	overflow: hidden;
	padding: 16px 32px;
	position: relative;
	border-radius: 38px;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	@include adaptiveValue("font-size", 18, 14);
	span {
		position: relative;
		transition: color 0.5s;
	}
	&::before {
		width: 0;
		bottom: 0;
		height: 0;
		content: "";
		position: absolute;
		background-color: rgb(237, 237, 237);
		transition:
			width 0.5s,
			height 0.5s;
	}
	@media (any-hover: hover) {
		&:hover {
			&::before {
				width: 100%;
				height: 100%;
			}
		}
	}
	@media (max-width: toEm($mobile)) {
		padding: 12px 22px;
	}
	// .button--orange
	&--orange {
		background-color: $orangeColor;
		border: 1px solid $orangeColor;
		&::before {
			left: 0;
			border-radius: 0 25px 0 0;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
	// .button--blue
	&--blue {
		background-color: $blueColor;
		border: 1px solid $blueColor;
		&::before {
			right: 0;
			border-radius: 25px 0 0 0;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $blueColor;
			}
		}
	}
	&--fw {
		width: 100%;
	}
}
