//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn
.button {
	color: #fff;
	line-height: 1.1;
	font-size: 18px;
	overflow: hidden;
	padding: 16px 32px;
	position: relative;
	border-radius: 38px;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	transition: background-color 0.3s;
	span {
		position: relative;
		transition: color 0.5s;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #fff;
		}
	}
	// .button--orange
	&--orange {
		background-color: $orangeColor;
		border: 1px solid $orangeColor;
		&::before {
			left: 0;
			border-radius: 0 25px 0 0;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
	// .button--blue
	&--blue {
		background-color: $blueColor;
		border: 1px solid $blueColor;
		&::before {
			right: 0;
			border-radius: 25px 0 0 0;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $blueColor;
			}
		}
	}
	&--fw {
		width: 100%;
	}
}
