<header
	data-fls-header
	data-fls-header-scroll
	class="header"
>
	<div class="header__container">
		<a
			href="#"
			data-fls-scrollto=".hero"
			class="header__logo"
		>
			<img
				loading="lazy"
				src="@img/logo.svg"
				alt="Image"
			/>
		</a>
		<include
			src="@components/layout/menu/menu.html"
			locals='{"active":"[[active]]"}'
		></include>
		<button
			type="button"
			class="header__button"
			data-fls-popup-link="popup"
			data-fls-dynamic=".hero__button, 767.98"
		>
			Discuss Your Project
		</button>
		<button
			type="button"
			data-fls-menu
			class="header__icon"
		>
			<div class="icon-menu"><span></span></div>
		</button>
	</div>
</header>
