<div class="header__menu menu">
	<nav class="menu__body">
		<ul class="menu__list">
			<each loop='item in [
					{"href": "#","ancor": "Work","scrollto": ".works"},
					{"href": "#","ancor": "Expertise","scrollto": ".our"},
					{"href": "#","ancor": "Approach","scrollto": ".cause"},
					{"href": "#","ancor": "About","scrollto": ".why"},
					{"href": "#","ancor": "Contact","scrollto": ".lets-make"}
				]'>
				<if condition="'[[active]]' === '[[item.ancor]]'">
					<li class="menu__item">
						<a href="[[item.href]]" data-fls-scrollto="[[item.scrollto]]" class="menu__link menu__link--active">[[item.ancor]]</a>
					</li>
				</if>
				<else>
					<li class="menu__item">
						<a href="[[item.href]]" data-fls-scrollto="[[item.scrollto]]" class="menu__link">[[item.ancor]]</a>
					</li>
				</else>
			</each>
		</ul>
	</nav>
</div>
