<footer data-fls-footer class="footer">
	<img data-fls-watcher class="footer__image lazyload" src="@img/footer/image.png" alt="Image">
	<div class="footer__tail">
		<img data-fls-watcher class="footer__logo lazyload" src="@img/footer/logo.svg" alt="Logo">
		<img data-fls-watcher class="footer__by lazyload" src="@img/by-dark.svg" alt="Decore">
	</div>
	<div class="footer__basement basement-footer">
		<div class="basement-footer__container">
			<ul class="basement-footer__socals">
				<li><a href="" class="basement-footer__socal basement-footer__socal--icon-s-in"></a></li>
				<li><a href="" class="basement-footer__socal basement-footer__socal--icon-s-fb"></a></li>
				<li><a href="" class="basement-footer__socal basement-footer__socal--icon-s-ln"></a></li>
				<li><a href="" class="basement-footer__socal basement-footer__socal--icon-s-bn"></a></li>
				<li><a href="" class="basement-footer__socal basement-footer__socal--icon-s-db"></a></li>
			</ul>
			<div class="basement-footer__below">
				<a href="#" class="basement-footer__link">Terms of Service</a>
				<a href="#" class="basement-footer__link">Privacy Policy</a>
				<div class="basement-footer__right">© 2025 Pure Mate. All Rights Reserved.</div>
			</div>
		</div>
	</div>
</footer>